* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    /*background-color: #131313;*/
    background-color: #242424;
}

#fluxograma {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50vw;    
}

.period {
    display: flex;
    flex-direction: column;
}

.subject {
    color: white;
    border: 1px solid #1f1f1f;
    width: 12rem;
    height: 6rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    /*background-color: #161616;*/
    background-color: #303030;
    border-radius: 10px;
}

.subject:hover {
    /*background-color: #1f1f1f;*/
    background-color: #b0b0b0;
    color: white;
    transition: .3s;
}