* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #262626;
}

#fluxograma {
    display: flex;
    flex-direction: row;
}

.period {
    display: flex;
    flex-direction: column;
}

.subject {
    border: 2px solid black;
    width: 12rem;
    height: 6rem;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    background-color: #fff;
}